a{
    text-decoration: none;
    color: black;
    cursor: pointer;
}
#main{
    display:flex;
}
#left{
  width: 20%;
}a{
    text-decoration: none;
    color: black;
    cursor: pointer;
}
#main{
    display:flex;
}
#left{
  width: 20%;
}
#filter{
    border: 1px solid rgb(192, 186, 186);
    height: 6%;
    width:69%;
    padding: 20px;
}

#form{
    /* border: 1px solid gray; */
    margin-top: 10px;
    width: 82%;
    background: #e1e2d2;
    padding: 5px;
}
form{
    /* border: 1px solid gray; */
    height: 10%;
    width: 100%;
    padding: 20px;
    display: block;
    box-sizing: border-box;
    text-align: center;
   
}


#right_gifthamper{
    display: flex;
    justify-content: space-between;
    height: 40px;
}
#right_gifthamper_left{
    height: 40px;
display: grid;grid-template-columns: repeat(2,1fr);
gap: 20px;
font-size: medium;
}
#right_gifthamper_left div{
    height: 30px;
}

/* left */

#append{
    /* width: 80%; */
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: auto;
    gap: 10px;
    text-align: center;
    /* margin-left: 10px; */
}
.append_div{
    height: 400px;
    border: 1px hidden;

}
.image{
    height: 60%;
    border-radius: 5%;
}
.mrp_div{
    display: flex;
    margin: auto;
    width: 60%;
    font-size: small;
}
.div_add_img{
    /* border: 1px solid; */
    height: 40px;
    width: 60px;
    border-radius: 5%;
}
.add_img{
    height: 100%;
    width: 100%;
    border-radius: 5%;
    margin-left: 10px;
    cursor: pointer;
}
#filter{
    border: 1px solid rgb(192, 186, 186);
    height: 7%;
    width:69%;
    padding: 20px;
}

#form{
    /* border: 1px solid gray; */
    margin-top: 10px;
    width: 82%;
    background: #e1e2d2;
    padding: 5px;
}
form{
    /* border: 1px solid gray; */
    height: 10%;
    width: 100%;
    padding: 20px;
    display: block;
    box-sizing: border-box;
    text-align: center;
   
}


#right_gifthamper{
    display: flex;
    justify-content: space-between;
    height: 40px;
}
#right_gifthamper_left{
    height: 40px;
display: grid;grid-template-columns: repeat(2,1fr);
gap: 20px;
font-size: medium;
}
#right_gifthamper_left div{
    height: 30px;
}

/* left */

#append{
    /* width: 80%; */
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: auto;
    gap: 10px;
    text-align: center;
    /* margin-left: 10px; */
}
.append_div{
    height: 400px;
    border: 1px hidden;

}
.image{
    height: 60%;
    border-radius: 5%;
}
.mrp_div{
    display: flex;
    margin: auto;
    width: 60%;
    font-size: small;
}
.div_add_img{
    /* border: 1px solid; */
    height: 40px;
    width: 60px;
    border-radius: 5%;
}
.add_img{
    height: 100%;
    width: 100%;
    border-radius: 5%;
    margin-left: 10px;
    cursor: pointer;
}